pkgbase = handbrake-av1-qsv
  pkgdesc = Multithreaded video transcoder with AV1 QSV CLI support
  pkgver = 1.9.2
  pkgrel = 1
  url = https://handbrake.fr/
  arch = x86_64
  license = GPL
  makedepends = git
  makedepends = cmake
  makedepends = nasm
  makedepends = python
  makedepends = yasm
  makedepends = intltool
  depends = gtk4
  depends = libass
  depends = libbluray
  depends = libtheora
  depends = libvorbis
  depends = opus
  depends = speex
  depends = x264
  depends = x265
  depends = jansson
  depends = libxml2
  depends = numactl
  depends = libvpx
  depends = bzip2
  depends = zlib
  depends = libjpeg-turbo
  depends = libva
  depends = libvpl
  provides = handbrake
  conflicts = handbrake
  source = git+https://github.com/HandBrake/HandBrake.git#tag=1.9.2
  source = av1_qsv_cli.patch
  sha256sums = SKIP
  sha256sums = SKIP
